$accentblue: #A6CFD5
$darkblue: #397295
$header-font: 'Amaranth', sans-serif
$body-font: 'Titillium Web', sans-serif

body
	margin-top: 70px
	background: $accentblue
	font: $body-font

h1 
	font-size: 4em
	font: $header-font

#temperature > div 
	display: inline


#icon img 
	width: 100px


#temperature,
#city,
#condition,
#time 
	font-size: 2em
	text-transform: uppercase


#change-degree 
	margin: 3%

button 
	margin-right: 5%

.previous
	a
		margin-left: 1%